### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

### 가상환경 (Virtual Environments) ###
# venv 실행 환경이나 라이브러리 폴더 제외
venv/
.venv/
ENV/
env.bak/
venv.bak/

### FastAPI / 환경 변수 ###
# API 키나 DB 접속 정보가 담긴 환경변수 파일
.env
.flaskenv

### Logs ###
# 앞서 설정한 logs 폴더 및 모든 로그 파일 제외
logs/
*.log
local_settings.py

### Database ###
*.db

### IDE (Editor) ###
# VS Code, PyCharm 설정 파일
.vscode/
.idea/
*.swp
*.swo

### OS ###
.DS_Store
Thumbs.db